body{
    margin: 0;
    padding: 0;
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    background: black;
}

div.navcont > div{
    margin: 5px;
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    color: white;
}

.navcont{
    background-color: rgb(15, 15, 15);
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
}

.navcont{
    align-items: center;
    justify-content: center;
    flex-direction: row;
}


.content .header{
    background-color: darkgray;
    display: flex;
    justify-content: space-around;
    height: 300px;
    align-items: center;
    
}

.content .header .mainheader{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.content .header .mainheader h1{

}

.content .header .mainheader h3{
    
}

.content .header .mainheader p{

}

.content .header img{
    border-radius: 8px;
    cursor: pointer;
}

.container{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
    font-size: large;
    color: white;
}

.container h3{
    font-weight: 100;
}

.container a{
    padding: 25px;
}

a{
    text-decoration: none;
    color: white;
    font-weight: 400;
}

a:hover{
    color: rgb(34, 104, 255);
}

.mainfooter{
    display: flex;
    justify-content: space-evenly;
    height: 500px;
    color: white;
    margin-bottom: 400px;
}

.mainfooter a{
    margin-top: 10px;
}

.mainfooter h3{
    margin-bottom: -2px;
}

.mainfooter div{
    display: flex;
    flex-direction: column;
}

